dark-colour = #333
light-colour = #fff
primary-colour = #c33
highlight-colour = #f33

*
  box-sizing: border-box

:root
  font-family: "Lucida Console", monospace
  font-size: 16px
  background: dark-colour url("../assets/simple-bg.png")
  color: dark-colour
  touch-action: none  //Prevent touch input outside the #app from triggering standard scroll/navigate actions.

html
body
  padding: 0
  margin: 0
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

#app
  width: 100%
  height: 100%
  overflow: hidden
  flex: 0 0 auto
  display: flex
  flex-direction: column

  #canvas
    flex: 0 0 auto
    display: block
    margin: 0 auto
    touch-action: none  //Prevents IE/Edge from intrepreting touch input as scroll/pan commands.
    
  #controls
    flex: 1 1 auto
    background: light-colour
    overflow: auto
    touch-action: pan-y  //Allow standard "scrolling" touch input for this element.

    #message
      text-align: center
      padding: 0.5em
    
    #orders
      text-align: center
